@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

.active {
  color: #793677;
}


/* Tailwind Styles  */

.boxWidth {
  @apply w-full mx-auto md:max-w-3xl lg:max-w-5xl xl:max-w-[1200px];
}

.paddingX {
  @apply px-5 xs:px-8;
}

.paddingY {
  @apply pt-20;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexStart {
  @apply flex justify-center items-start;
}

.textHeading {
  @apply text-primary text-[15px] sm:text-base font-medium mb-3;
}

.textHeadingSecondary {
  @apply font-semibold text-black text-2xl sm:text-3xl mx-auto xs:max-w-sm sm:max-w-[420px] md:max-w-full mb-3;
}

.textHeadingP {
  @apply text-base lg:text-[17px] text-text_secondary leading-8;
}